    h1 {
    font-size: 28px;
  }
  h4{
    background-color: aliceblue;
  }


  


*{
  box-sizing:border-box;
  padding:0px;
  margin: 7px;;
}

html{
  background-image: url(images/imagemPretaBranca.jpg);
  height: 100%
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

body{
  text-align: center;
  width: 950px;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 40px;
  position: relative;
  background:rgb(119, 117, 117);;
  box-shadow: black 0 2px 5px 0;
}
  
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 18.66%;}
  .col-3 {width: 15%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 75%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}

  
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }


  body header {
    background-color: aliceblue(150, 84, 84);
    margin: auto;
    width: 800px;
    text-align: center;
  }
  
  
  body nav {
    margin: auto;
    width: 800px;
    font-size: 14px;
  }
  header ~ main {
    margin: auto;
    background-color: aliceblue;
    margin: auto;
    width: 800px;
  }
  
  main + footer {
    font-size: 16px;
   background-color: aliceblue;
    margin: auto;
    width: 800px;
  }
  img.relativoMulti {
    position: relative;
    top: -30px;
    right: 0px;
    width: 400px;
    height: 200px;
    border: 3px solid rgb(0, 0, 0);
  }
  img.absolutoMulti{
    position: absolute; 
    top: 2370px;
    right: 45px;
    width: 200px;
    height: 100px;
    border: 2px solid #5c1b46;
  }
  img.relativoEstilo {
    position: relative;
    top: -1550px;
    right: 350px;
    width: 400px;
    height: 200px;
    border: 3px solid rgb(0, 0, 0);
  }
  img.relativoMenu {
    position: relative;
    top: -850px;
    right: 350px;
    width: 400px;
    height: 200px;
    border: 3px solid rgb(0, 0, 0);
  }

  img.relativoMultimedia {
    position: relative;
    top: -1000px;
    right: 350px;
    width: 400px;
    height: 200px;
    border: 3px solid rgb(0, 0, 0);
  }
  img.relativoQuizz {
    position: relative;
    top: -750px;
    right: 350px;
    width: 400px;
    height: 200px;
    border: 3px solid rgb(0, 0, 0);
  }
  img.relativoLocal {
    position: relative;
    top: -650px;
    right: 350px;
    width: 400px;
    height: 200px;
    border: 3px solid rgb(0, 0, 0);
  }
  img.relativoInfo {
    position: relative;
    top: -650px;
    right: 550px;
    width: 400px;
    height: 200px;
    border: 3px solid rgb(0, 0, 0);
  }
  img.absolutoMenuTst{
    position: absolute; 
    top: -1500px;
    right: -980px;
    width: 300px;
    height: 200px;
   
  }
  img.absolutoMultimedia{
    position: absolute; 
    top: -3500px;
    right: -980px;
    width: 300px;
    height: 200px;
   
  }
  img.absolutoInfo{
    position: absolute; 
    top:-1050px;
    right: -980px;
    width: 300px;
    height: 200px;
    border: 2px solid #5c1b46;
  }
  img.absolutoEstilo{
    position: absolute; 
    top:-2250px;
    right: -980px;
    width: 300px;
    height: 200px;
    border: 2px solid #5c1b46;
  }
  img.absolutoQuizz{
    position: absolute; 
    top:-2050px;
    right: -980px;
    width: 300px;
    height: 200px;
    border: 2px solid #5c1b46;
  }
  img.absolutoCom{
    position: absolute; 
    top:-1750px;
    right: -980px;
    width: 300px;
    height: 200px;
    border: 2px solid #5c1b46;
  }

  img.absolutoMenu{
    position: absolute; 
    top: 100px;
    right: -180px;
    width: 300px;
    height: 200px;
    border: 2px solid #5c1b46;
  }
  img.absolutoLocal{
    position: absolute; 
    top: -1950px;
    right: -980px;
    width: 300px;
    height: 200px;
    border: 2px solid #5c1b46;
  }
  
  img.relativo3FotoMulti {
    position: relative;
    top: -2150px;
    right: 150px;
    width: 400px;
    height: 200px;
    border: 3px solid rgb(0, 0, 0);
  }
  img.relativo3FotoQuizz {
    position: relative;
    top: -1450px;
    right: -610px;
    width: 400px;
    height: 200px;
    border: 3px solid rgb(0, 0, 0);
  }
  img.relativo3FotoLocal {
    position: relative;
    top: -1650px;
    right: 350px;
    width: 400px;
    height: 200px;
    border: 3px solid rgb(0, 0, 0);
  }
  img.relativo3FotoInfo {
    position: relative;
    top: -650px;
    right: -550px;
    width: 400px;
    height: 200px;
    border: 3px solid rgb(0, 0, 0);
  }
  img.relativo3FotoIntro {
    position: relative;
    top: -470px;
    right: -610px;
    width: 400px;
    height: 200px;
    border: 3px solid rgb(0, 0, 0);
  }
  img.relativo3FotoEstilo {
    position: relative;
    top: -550px;
    right: -550px;
    width: 400px;
    height: 200px;
    border: 3px solid rgb(0, 0, 0);
  }
  img.relativo3FotoComentario {
    position: relative;
    top: -1775px;
    right: -830px;
    width: 200px;
    height: 100px;
    border: 3px solid rgb(0, 0, 0);
  }
  figcaption.texto_relativoMulti {
    position: absolute;
    top: 2450px;
    right: -90px;
    width: 200px;
    height: 100px;
    color: rgb(81, 255, 0);
  }
  figcaption.texto_absolutoMulti {
    position: absolute;
    top: 2210px;
    right: 485px;
    width: 200px;
    height: 100px;
    color: rgb(255, 0, 0);
  }
  img.relativo {
    position: relative;
    top: 450px;
    width: 400px;
    height: 200px;
    border: 3px solid yellow;
  }
  img.absoluto2{
    position: absolute; 
    top: 2250px;
    right: 180px;
    width: 200px;
    height: 100px;
    border: 2px solid #ff00d4;
  }
  img.absoluto1 {
    position: absolute; 
    top: 1840px;
    right: 140px;
    width: 200px;
    height: 100px;
    border: 2px solid #000000;
  }
  img.absoluto {
    position: absolute; 
    top: 2440px;
    right: 480px;
    width: 200px;
    height: 100px;
    border: 2px solid #1b5c59;
  }
  figcaption.texto_relativo {
    position: absolute;
    top: 2420px;
    right: 405px;
    width: 200px;
    height: 100px;
    color: rgb(81, 255, 0);
  }
  figcaption.texto_absoluto {
    position: absolute;
    top: 2510px;
    right: 865px;
    width: 200px;
    height: 100px;
    color: rgb(255, 0, 0);
  }
  
  figure.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
  }
  
  figure.outro {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
  }